name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version: ['3.9', '3.13']
        architecture: ['x64']
      fail-fast: false
    name: Test ${{ matrix.os }} ${{ matrix.architecture }} Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}
          
      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt', '**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade tox tox-gh-actions
          
      - name: Run tests with tox
        run: python -m tox
        env:
          PLATFORM: ${{ matrix.os }}
          
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
