name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        python-version: ['3.9', '3.12', '3.13']
        architecture: ['x64']
      fail-fast: false
    name: Test ${{ matrix.os }} ${{ matrix.architecture }} Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}
          
      - name: Install uv
        uses: astral-sh/setup-uv@v7
            
      - name: Install the project
        run: uv sync --locked --all-extras --dev
          
      - name: Run tests
        run: uv run pytest
          
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
